In [63]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
import numpy as np

In [118]:
df = pd.read_csv('top_handles.csv',error_bad_lines=True, encoding = "ISO-8859-1")
df['cat'] = df['cat'].str.replace('[', '')
df['cat'] = df['cat'].str.replace(']', '')
df['cat'] = df['cat'].str.replace('"', '')
df['cat'] = df['cat'].str.replace(',', ', ')
df['sub_cat'] = df['sub_cat'].str.replace('[', '')
df['sub_cat'] = df['sub_cat'].str.replace(']', '')
df['sub_cat'] = df['sub_cat'].str.replace('"', '')
df['sub_cat'] = df['sub_cat'].str.replace(',', ', ')
df.head()

,screen_name,name,cat,sub_cat,description,location,city
0,narendramodi,Narendra Modi,political,minister,Prime Minister of India,India,NaN
1,iamsrk,Shah Rukh Khan,,,NaN,NaN,NaN
2,SrBachchan,Amitabh Bachchan,,,Actor ... well at least some are STILL saying ...,"Mumbai, India",Mumbai
3,BeingSalmanKhan,Salman Khan,bollywood,"film, films","Film actor, artist, painter, humanitarian",MUMBAI,Mumbai
4,akshaykumar,Akshay Kumar,,,NaN,NaN,NaN

In [119]:
def remove_non_ascii(name):
    return ''.join(i for i in str(name) if ord(i)<128)
 
df['name'] = df['name'] .apply(remove_non_ascii)
df['name'] =df['name'] .str.replace('_', '')
df['description'] = df['description'] .apply(remove_non_ascii)
df['description'] =df['description'] .str.replace('_', '')
df['location'] = df['location'] .apply(remove_non_ascii)
df['location'] =df['location'] .str.replace('_', '')